<app-faculty-menu></app-faculty-menu>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="dashboard-container text-center text-light d-flex flex-column align-items-center justify-content-center">

    <div class="content mt-4">
        <h1 class="fw-bold display-5 mb-3">Welcome to Faculty Dashboard</h1>
        <p class="lead mb-4">
            Manage your students efficiently — add new students, edit student details, and view all student records.
            Take attendance, track student progress, and keep everything organized easily from one place.
        </p>
    </div>

    <div class="image-wrapper mt-4">
        <img
            src="assets/images/facultyDashImg.webp"
            alt="Faculty Dashboard"
            class="full-image"
        />
    </div>

</div>

</body>
</html>
