<app-admin-menu></app-admin-menu>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="dashboard-container text-center text-light d-flex flex-column align-items-center justify-content-center">

    <div class="content mt-4">
     <h1 class="fw-bold display-5 mb-3">Welcom to Admin Dashboard</h1>
     <p class="lead mb-4">
      Manage your entire system seamlessly — add or edit users, assign subjects,
      and track attendance. View reports, update records, and keep everything
      organized with just a few clicks.
     </p>

    </div>

    <div class="image-wrapper mt-4">
     <img
      src="assets/images/admin-attendence-image.webp"
      alt="Admin Dashboard"
      class="full-image"
      />
    </div>

  </div>

</body>
</html>
