<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <!-- Left side: Faculty Dashboard -->
    <a class="navbar-brand" href="#">Faculty Dashboard</a>

    <!-- Toggler for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#facultyMenu" aria-controls="facultyMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Right side menu buttons -->
    <div class="collapse navbar-collapse" id="facultyMenu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#">Add Student</a></li>
        <li class="nav-item"><a class="nav-link" href="#">All Students</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Edit Student</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Take Attendance</a></li>
        <li class="nav-item"><a class="nav-link" href="#">View Attendance</a></li>
        <li class="nav-item">
          <button class="btn btn-danger ms-3" type="button">Logout</button>
        </li>
      </ul>
    </div>

  </div>
</nav>
